 .body {
     overflow-x: hidden !important;
 }

 * {
     margin: 0;
     padding: 0;
 }

 .btn {
     background-color: #7C4EE4;
     color: white;
     border: 2px solid #7C4EE4;
     border-radius: 5.95px;
     height: 50px;
     width: 150px;
 }

 .blog {
     color: #7C4EE4;
 }

 .search {
     text-align: center;
 }

 .btn-1 {
     background-color: #fcfcfc;
     color: rgb(2, 2, 2);
     border: 2px solid #060606;
     border-radius: 5.95px;
     height: 50px;
     width: 150px;
 }

 .header-row {
     background-color: #7C4EE4;
 }

 .heading-6 {
     color: white;
 }

 .heading-3 {
     color: white;
 }

 .para-1 {
     color: white;
 }

 .middle-row {
     position: relative;
     max-width: 100%;
     width: 800px;

 }

 .content-div {
    
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    /* margin-top: 390px !important; */
    margin-top: -180px !important;
    margin-left: 370px !important;
    width: 75% !important;

 }
 .img-fluid{
    height: 400px;
 }

 .ai-img {
     /* max-width: 100%; */
     height: 550px;
     width: 1000px;
     margin-left: 50px;
 }

 .heading3 {
     color: rgb(9, 9, 9);
 }

 .para {
     color: rgb(12, 12, 12);
 }

 .btn-01 {
     background-color: #7C4EE4;
     color: white;
     border: 2px solid #0f0f0f;
     border-radius: 5.95px;
     height: 50px;
     width: 150px;
 }

 .post {
     font-size: 50px;
     font-weight: bold;
 }

 .last-container {
     background-color: #7C4EE4;
     width: 800px;
     max-width: 100%;
     height: 500px;
 }

 .input {
     background-color: white;
     border-radius: 10px;
 }

 .last-section {
     margin-left: 100px;
 }

 .last-para {
     color: #4a4557;
     text-align: center;
 }

  /* Footer */
    .footer-links a {
        font-size: 14px;
        margin: 8px;
        display: inline-block;
        text-decoration: none;
        color: #150E06;
    }
 

@media screen and (max-width: 1422px) {
  body {
     overflow-x: hidden !important;
  }
  .content-div {
     margin-left: 0 !important;
     margin-top: 20px !important;
     width: 100% !important;
  }
  .ai-img{
    margin: 0 auto !important;
    position: static !important;
    width: 712px !important;
    height: 456px !important;
  }
}

 @media only screen and (max-width: 1250px) {
     .middle-row {
         max-width: 100%;
         width: 800px;
     }

     .middle-row .content-div {
         flex-direction: column;
     }

 }

 @media only screen and (max-width: 1200px) {
     .header-row {
         flex-direction: column;
         align-items: center;
     }

     .right-row {
         order: -1;
     }

     .body {
         overflow-x: hidden !important;
     }


     
 }

 @media (max-width: 1000px) {
     .header-row {
         flex-wrap: wrap;
         display: flex;
         height: 900px;
         width: 500px;
     }

     .section-hero {
         flex-wrap: wrap;
         height: 220px;
         width: 320px;
     }

     .col-3 {
         position: relative;
     }
 }

 @media only screen and (max-width: 992px) {

     .navUl a {
         text-align: center;
     }

     .search {
         margin-left: 325px;
     }

     .btn {
         margin-left: 325px;
     }
 }

 @media only screen and (max-width: 576px) {
     .header-row {
         flex-wrap: wrap;
         display: flex;
         height: 900px;
         width: 500px;
     }

 } 
 @media only screen and (max-width: 517px) {
     .header-row {
         flex-wrap: wrap;
         display: flex;
         height: 900px;
         width: 450px;
     }

 }
  @media only screen and (max-width: 465px) {
     .header-row {
         flex-wrap: wrap;
         display: flex;
         height: 900px;
         width: 380px;
     }

 }
  @media only screen and (max-width: 400px) {
     .header-row {
         flex-wrap: wrap;
         display: flex;
         height: 900px;
         width: 350px;
     }

 }
   @media only screen and (max-width: 380px){
.last-container{
    margin-right: 25px;
    display: flex;
    justify-content: center;
height: 700px;
}
.last-container .input{
    width: 200px;
}
}
 @media only screen and (max-width: 376px){
.header-row{
    width: 250px;
    margin-right: 10px;
}
}
   